@model Eproject3.Models.Complain
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Admin? user = Context.Items["User"] as Admin;
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-black text-center">
                    <h3>REPLY</h3>
                </div>
                <div class="card-body">
                    <form asp-action="EditComplain" method="post" asp-controller="Complain">
                        <div class="form-group">
                            <input asp-for="ComplainId" class="form-control" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" readonly />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Reason" class="control-label"></label>
                            <input asp-for="Reason" class="form-control" readonly />
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="DateCp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category" class="control-label"></label>
                            <input asp-for="Category" class="form-control" readonly />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" value="@user.AdminName" readonly />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Reply" class="control-label"></label>
                            <textarea rows="6" asp-for="Reply" class="form-control" placeholder="Enter to Reply"></textarea>
                            <span asp-validation-for="Reply" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Commit</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    @if (user?.Role == "admin")
                    {
                        <a asp-action="Index">Back to List</a>
                    }
                    else
                    {
                        <a asp-action="IndexUser">Back to List</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .card-header {
        border-radius: 10px 10px 0 0;
    }

    .btn-outline-secondary {
        color: #495057;
        border-color: #495057;
    }

        .btn-outline-secondary:hover {
            color: #fff;
            background-color: #495057;
            border-color: #495057;
        }
</style>