@model Eproject3.Models.Device
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    
    <div class="container">
        <h1>Update</h1>
        <h4>Device</h4>
    <hr />
        <div class="row">
            <div class="col-md-4">
        <form asp-action="EditDevices" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="DevicesId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="DeviceName" class="control-label"></label>
                <input asp-for="DeviceName" class="form-control" />
                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceType" class="control-label"></label>
                <input asp-for="DeviceType" class="form-control" />
                <span asp-validation-for="DeviceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMaintance" class="control-label"></label>
                <input asp-for="DateMaintance" type="datetime" class="form-control" />
                <span asp-validation-for="DateMaintance" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="DeviceImg" class="control-label"></label> *@
                <input type="file" name="file" class="form-control" />
                @* <span asp-validation-for="DeviceImg" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="LabsId" class="control-label"></label>
                <select asp-for="LabsId" class ="form-control" asp-items="ViewBag.LabsId">
                    <option>----SELECT----</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Supplier_ID">
                    <option>----SELECT----</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>