@model Eproject3.Models.Slot

@{
	ViewBag.title = "Create Slot";
}

<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header text-black text-center">
					<h3>Create Slot</h3>
				</div>
				<div class="card-body">
					<form asp-action="Create" asp-controller="Slot" method="post" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="Day" class="control-label"></label>
							<input asp-for="Day" type="date" class="form-control" required />
							<span asp-validation-for="Day" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Slot1" class="control-label"></label>
							<select asp-for="Slot1" class="form-control" required>
								<option>----SELECT-SLOT----</option>
								<option value="Slot 1">Slot 1 (7AM-9AM)</option>
								<option value="Slot 2">Slot 2 (9AM-11AM)</option>
								<option value="Slot 3">Slot 3 (13PM-15PM)</option>
								<option value="Slot 4">Slot 4 (15PM-17PM)</option>
							</select>
						</div>
						<div class="form-group">
							<label asp-for="LabId" class="control-label"></label>
							<select asp-for="LabId" class="form-control" required asp-items="ViewBag.LabList">
								<option>-----Select Room-----</option>
							</select>
						</div>
						<div class="form-group">
							<label asp-for="AdminsId" class="control-label"></label>
							<select asp-for="AdminsId" class="form-control" required asp-items="ViewBag.ConstructorList">
								<option>-----Select Teacher-----</option>
							</select>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success btn-block">Create</button>
						</div>
					</form>
				</div>
				<div class="card-footer text-center">
					<a asp-action="Index" asp-controller="Slot" class="btn btn-outline-secondary">Back To List</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.card {
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.card-header {
		border-radius: 10px 10px 0 0;
	}

	.btn-outline-secondary {
		color: #495057;
		border-color: #495057;
	}

		.btn-outline-secondary:hover {
			color: #fff;
			background-color: #495057;
			border-color: #495057;
		}
</style>