@*@model Eproject3.Models.Complain
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">

    <div class="container">
        <h1>Create</h1>
        <h4>COMPLAIN</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post" asp-controller="Complain">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatusCp" class="control-label"></label>
                        <input asp-for="StatusCp" class="form-control" />
                        <span asp-validation-for="StatusCp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="DateCp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" type="datetime" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <select asp-for="Id" class="form-control" asp-items="ViewBag.Id">
                            <option>----SELECT----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>*@

@model Eproject3.Models.Complain
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">

    <div class="container">
        <h1>Create</h1>
        <h4>COMPLAIN</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post" asp-controller="Complain">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" placeholder="Enter to Description" required />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <select class="form-select mt-3" asp-for="Reason" class="form-control" required>
                            <option>----SELECT----</option>
                            <option value="Complain about the quality of service !">Complain about the quality of service !</option>
                            <option value="Reflect on the Labs staff!">Reflect on the Labs staff!</option>
                            <option value="Complaint about equipment">Complaint about equipment</option>
                            <option value="Complaints about hygiene">Complaints about hygiene</option>
                            <option value="Complaints reflect another!">Complaints reflect another!</option>
                            <option value="Add more ideas for Labs!">Add more ideas for Labs!</option>
                            <option>----SELECT----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatusCp" class="control-label"></label>
                        <input asp-for="StatusCp" class="form-control" value="Pending" readonly required />
                        <span asp-validation-for="StatusCp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="DateCp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-select mt-3" asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control" required>
                            <option>----SELECT----</option>
                            <option value="Electronic Devices">Electronic Devices</option>
                            <option value="Learning Facilities">Learning Facilities</option>
                            <option value="Other Problems">Other Problems</option>
                            <option>..........</option>
                            <option>----SELECT----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <select asp-for="Id" class="form-control" asp-items="ViewBag.Id" required>
                            <option>----SELECT----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="COMMIT" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>