@model Eproject3.Models.Complain
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Admin? user = Context.Items["User"] as Admin;
}
<div class="content-wrapper">

    <div class="container">
        <h1>REPLY</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditComplain" method="post" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="ComplainId" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" readonly />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="DateCp" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" readonly/>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" value="@user.AdminName" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reply" class="control-label"></label>
                        <textarea rows="6" asp-for="Reply" class="form-control" placeholder="Enter to Reply"></textarea>
                        <span asp-validation-for="Reply" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Commit" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>